
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form name="formData" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="InputName">姓名</label>
        <input type="text" class="form-control" id="InputName" name="name">
    </div>
    <div class="form-group">
        <label for="InputEmail">電子郵件</label>
        <input type="text" class="form-control" id="InputEmail" name="email">
    </div>
    <div class="form-group">
        <label for="InputAge">年紀</label>
        <input type="number" class="form-control" id="InputAge" name="age">
    </div>
    <div class="custom-file  mt-3">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">選擇檔案</label>
    </div>
    <button type="button" class="btn btn-primary mt-3">Submit</button>
</form>
<div class="alert alert-info" id="div1"></div>

@section Scripts{
    <script>
    const btnSubmit = document.querySelector('.btn');
    const divInfo = document.querySelector('#div1');

        btnSubmit.addEventListener('click', (evt) => {
        //evt 為自己設的物件
        evt.preventDefault(); //停止預設行為 submit link
            const formData = new FormData(document.formData);

        //透過 fetch() 上傳圖檔
        fetch('@Url.Content("~/api/register")', {
            method: 'POST',
            body: formData
        })
        .then(response => response.text())
        .then(data => divInfo.innerHTML = data);

        //=======================================================================================

        //step1
        @*const xhr = new XMLHttpRequest();

        //=======================================================================================

        xhr.addEventListener('load',function(){
            console.log('load')
            //step3 取得要從伺服器傳回的文字資料responseText
            const data = xhr.responseText;

            //顯示資料
            divInfo.innerHTML = `<h3>${data}</h3>`;
        })

        //=======================================================================================

        //step2 formData
        xhr.open('POST','@Url.Content("~/api/Register")');
        xhr.send(formData); //傳送到伺服器端的資料放入()內*@
    })
    </script>
}